<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h2>Company Home Page</h2>
    <hr>
    <p>
        Welcome to our home page!
    </p>

    <!-- Display username and role -->

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <!-- Add a link to leaders page -->

    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for manager peeps)
        </p>
    </div>

    <!-- Add a link to systems page -->

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT systems Meeting</a>
            (Only for Admin peeps)
        </p>
    </div>

    <form action="#" th:action="@{/logout}" method="POST">
        <label>
            <input type="submit" value="Logout">
        </label>
    </form>
</body>
</html>